.container1{ /*clase que define el diseño del "div" que contiene el logo del sistema*/
  float: left;
  padding: 7% 0% 0% 10%;
}
.container2{ /*clase que define el diseño del "div" que contiene los elementos donde se pide información al usuario (formularios)*/
  float: right;
  padding: 8% 15% 0% 0%;
  width: 500px;
}
.datos{ /*clase que define el tipo de letra de los input y select de los formularios*/
  font-family: 'Raleway', sans-serif;
}
.enviar{ /*clase que define el diseño del input (submit) de los formularios*/
  background-color: #4EC8DF;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 14px 20px;
  width: 100%;
}
.inputs{ /*clase que define el diseño de los input (text) de los formularios*/
  background: none;
  border: none;
  border-bottom: 2px solid;
  font-family: cursive;
  width: 200px;
}
.logo{ /*clase que define las dimensiones del logo del sistema*/
  height: 450px;
  width: 450px;
}
.opciones{ /*clase que define el diseño del "select" del formulario*/
  font-family: 'Raleway', sans-serif;
  background-color: #3D9AAC;
  height: 30px;
}
div{
  width: 400px;
}
fieldset{
  background-color: #689E7E;
  border: none;
  border-radius: 4px;
}
legend{
  text-align: center;
}
h2{
  font-family: 'Raleway', sans-serif;
}
label{
  font-family: 'Raleway', sans-serif;
}
a{
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  width: 89%;
}
